services:
  - type: web
    name: turborepo-backend
    runtime: docker
    repo: https://github.com/mquangcao/web-ia06-user-registration-api-with-react
    buildFilter:
      paths:
        - apps/api/**
    plan: free
    dockerContext: .
    dockerfilePath: ./apps/api/Dockerfile
    envVars:
      - key: ALLOW_ORIGIN_URL
        fromService:
          name: turborepo-frontend
          type: web
          property: url

  - type: web
    name: turborepo-frontend
    runtime: docker
    repo: https://github.com/mquangcao/web-ia06-user-registration-api-with-react
    buildFilter:
      paths:
        - apps/web/**
    plan: free
    dockerContext: .
    dockerfilePath: ./apps/web/Dockerfile
    envVars:
      - key: VITE_API_BASE_URL
        fromService:
          name: turborepo-backend
          type: web
          property: url
version: '1'
